@inject NavigationManager NavManager
<div class="@linkClass()" @onclick=ToggleShrunk>
    <div class="@nbIconClass()">
        <span class="@IconClass()" aria-hidden="true" />
    </div>
    <div class="@labelClass()">
        <span>@Label</span>&nbsp;&nbsp;<span class="@shrunkClass()" aria-hidden="true" />
    </div>
</div>
<div class="@NavContextClass">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private bool shrunk  = true;

    private void ToggleShrunk() => shrunk = !shrunk;

    private string NavContextClass =>
        shrunk ? "nc-hidden" : "nc-container";

    [CascadingParameter(Name = "ParentNavStack")]
    private NavStack? ParentNavStack { get; set; }

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public string Label { get; set; } = string.Empty;

    private string IconClass()
    {
        string result = string.Empty;
        if (Icon != null)
        {
            if (Icon.StartsWith("bi-"))
                result += $"bi {Icon}";
            else if (Icon.StartsWith("oi-"))
                result += $"oi {Icon}";
            else if (Icon.StartsWith("glyphicon-"))
                result += $"glyphicon {Icon}";
            else if (Icon.StartsWith("fa-"))
                result += $"fas {Icon}";
        }
        else
        {
            result += $"bi bi-caret-right-fill hide-icon";
        }
        return result;
    }

    private string shrunkClass()
    {
        if (shrunk)
            return "bi bi-caret-down-fill";
        else
            return "bi bi-caret-up-fill";
    }

    private string nbIconClass()
        => "nb-icon" + (IsActive ? " isactive" : string.Empty);

    private bool IsActive => !shrunk;

    private string labelClass()
    {
        string result = "nb-label";
        if (IsActive)
            result += " isactive";
        if (ParentNavStack?.Collapsed ?? false)
            result = "nb-hidden";
        return result;
    }

    private string linkClass()
    {
        string result = "nb-link";
        if (IsActive)
            result += " isactive";
        if (ParentNavStack?.Collapsed ?? false)
            result += " collapsed";
        return result;
    }
}